.email-sign{
   
    margin:0 auto;
    justify-content: center;
}

.email{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2em;
    align-items: center;
    padding-top:2em;
}
.email > p{
    color:#666;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0;
}
.email-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.email > input{
    
    border:1px solid #666;
    border-radius: 4px;
    height: 2em;
    font-size: .75em;
    width: 200px;
    padding:1em;
    height:3em;
    margin-top:.2em;
    
}
.email > button{
    border:1px solid #666;
    border-radius: 4px;
    height:2em;
    font-size: .75em;
    height: 3em;
    margin-top:.2em;
    border-radius: 6px;
    cursor: pointer;
    
}

.email > button:hover{
  background: #009700;
  transition-duration: 1s;
}
.modal-close{
    border-radius: 3em;
}