.main{
    background: rgb(228, 227, 227);
    margin:0;
  
}
.section-a >h3{
    text-align: left;
    padding:5px;
    color: white;
    height:42px;
}

.section-a-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding:1em;
    min-height: 100vh;
    padding-top: 7em;
    justify-content: space-between;

}

.section-a{
    display: flex;
    flex-direction: column;
    background: rgb(53, 53, 53);
    background-size: cover;
    color:black;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.5),0 7px 20px 0 rgba(0,0,0,0.17);
    /* height:200px;  */
    max-width:20%;
    margin:10px;

}

.news-image{
    max-height:50%;
    max-width:100%;
}

.banner{
    background: #18A999;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 10em;
    margin:0 auto; 
    background-size: cover;

}
.banner > h3{
    color:white;
    font-family: 'lobster';
    font-size: 6em;
    text-align: left;
    padding-left:10px;
}


